// HERO-BOTTOM

.hero__bottom .container {
  display: flex;
  padding: 0;
  padding-top: 200px;
}

.hero-bottom__list {
  @include reset-list;
  display: flex;
}

.hero__treatment,
.hero__prosthetics {
  width: 100%;
  max-width: 300px;
  padding: 30px;
  border-radius: 5px;
}

.hero__treatment {
  background-color: $yellow--darker;
}

.hero__treatment::before {
  width: 87px;
  height: 87px;
  display: block;
  margin: 0 auto;
  margin-bottom: 19px;
  background-image: url("../img/tratment.png");
  mix-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.hero__prosthetics {
  background-color: $yellow--lighter;
}

.hero__prosthetics::before {
  width: 87px;
  height: 87px;
  display: block;
  margin: 0 auto;
  margin-bottom: 19px;
  background-image: url("../img/prosthetics.png");
  mix-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

@include retina-bg {
  .hero__prosthetics {
    background-image: url("../img/prosthetics@2x.png");
  }

  .hero__treatment {
    background-image: url("../img/tratment@2x.png");
  }
}

.prosthetics__heading,
.treatment__heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 21px;
  color: $text-color--darker;
}

.prosthetics__paragraph,
.treatment__paragraph {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.hero__form {
  flex-grow: 1;
  margin-top: -50px;
  padding: 20px 25px 15px 25px;
  background-color: $main-blue;
  border-radius: 5px;
}

.hero-form__heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.hero-form__input {
  width: 100%;
  display: block;
  margin-bottom: 12px;
  padding: 20px 14px;
  background-color: $main-blue;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.hero-form__input:not(:focus) {
  font-weight: 500;
  color: #ffffff;
}

.hero-form__input:not(:placeholder-shown):focus {
  background-color: #fff;
  color: #222222;
}

.hero-form__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.hero-form__button {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 230px;
  display: block;
  margin-bottom: 15px;
  padding: 17px;
  font-size: 18px;
  line-height: 21px;
  color: $text-color--darker;
  background-color: $yellow--darker;
  border: none;
  border-radius: 5px;
}

.hero-form__button::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  content: "";
}


.hero-form__button:hover::before {
  opacity: 0.3;
}

.hero-form__button:active::before {
  opacity: 0.2;
}

.hero-form__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.hero-form__description {
  width: 100%;
  max-width: 256px;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.hero-form__checkbox:checked+.control-checkbox {
  background-image: url("../img/icon-acceptance.svg");
}

.control-checkbox {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  opacity: 1;
}

.control-checkbox:hover {
  opacity: 0.7;
}

@include breakpoint-down(1024px) {
  .slider {
    background-image: url("../img/slider-girl-md.jpg");
    background-size: cover;
    background-position: left 60% center;
  }

  @include retina-bg {
    .slider {
      background-image: url("../img/slider-girl-md@2x.jpg");
    }
  }

  .slider__heading {
    max-width: 450px;
  }
}

@include breakpoint-down(970px) {
  .hero-bottom__list {
    display: none;
  }

  .hero-form__button {
    display: block;
    min-width: 100%;
  }
}

@include breakpoint-down(900px) {
  .slider {
    background-image: url("../img/slider-girl-sm.jpg");
    background-size: cover;
    background-position: left 55% center;
  }

  @include retina-bg {
    .slider {
      background-image: url("../img/slider-girl-sm@2x.jpg");
    }
  }

  .slider__heading {
    max-width: 450px;
  }
}

@include breakpoint-down(500px) {
  .slider {
    background-image: url("../img/slider-girl-sm.jpg");
    background-size: 500px auto;
    background-position: left 55% center;
  }

  @include retina-bg {
    .slider {
      background-image: url("../img/slider-girl-sm@2x.jpg");
    }
  }
}